@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900;800&display=swap");

body{
 
    font-family: "Poppins", sans-serif;
}

:root{
    /* font-size: 10px; */
    font-size: 62.5%;
    
}
h1{
    font-size: 2.8rem;
    border: 4px solid black;
    /* padding: 20px; */
    padding: 1rem;

    
}
p{
    font-size: 2rem;
}
