@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body{
    font-family: "Poppins", sans-serif;
}

h1,h2{

    border:2px solid black;
   
    display:inline-flex;
}

a{
    border: 2px solid black;
   
    display: block;
    margin:20px 10px;
    padding: 10px;
}