
h1.heading{
    color : magenta;
}
/* 0,0,1,1 ---> 11 */
.h1class{
    color: red;
}
/* 0,0,1,0 ----> 10 */
h1{
    color: green;
}

div#container ul.my-games li{
    color: red;
    background-color: yellow;
}

.favourite{
    color:yellow ;
    background-color: red;
}
div#container ul.my-games li.favourite{
    color:yellow ;
    background-color: red;
}

